{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Detail</h1>
    </div>
  </div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-primary" role="alert">
        <p>Title</p>
        {{ object.title }}
    </div>
    <div class="alert alert-primary" role="alert">
        <p>Memo</p>
        {{ object.memo }}
    </div>
    <div class="alert alert-primary" role="alert">
        <p>Duedate</p>
        {{ object.duedate }}
    </div>
</div>
{% endblock content %}
